:root {
  --bg-color-light: #fff;
  --bg-color-dark: #696969;
}

/* Light mode styles */
body.light-mode {
  background-color: var(--bg-color-light) !important;
  color: var(--text-color-light);
}

/* Dark mode styles */
body {
  background-color: var(--bg-color-dark) !important;
  color: var(--text-color-dark);
}

.card {
  display: flex;
  text-align: center;
  margin: 80px;
}

.card .title {
  font-size: 24px;
  font-weight: 600;
  padding-top: 10px;
}

.card .content {
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
  margin-top: 20px;
}

.card .map {
  width: 800px;
  margin-bottom: 20px;
}

.wireframe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.wireframe-1 {
  width: 700px;
  margin-right: 20px;
}

.wireframe-2 {
  width: 300px;
}

@media (max-width: 768px) {
  #openSidebarBtn {
    display: none;
  }

  .bgm {
    display: none;
  }

  .card .map {
    width: 80%;
  }

  .wireframe {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .wireframe-1 {
    width: 70%;
    margin-bottom: 20px;
  }
}

@media (max-width: 1008px) {
  #openSidebarBtn {
    display: none;
  }

  .bgm {
    display: none;
  }
}
